@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.product-main-heading {
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto";
    color: #183b56;
}

.product-image1 {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-size: cover;
    width: 100%;
    height: 260px;
    padding: 20px;
}

.product-image2 {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-size: cover;
    width: 100%;
    height: 260px;
    padding: 20px;
}

.product-image-title {
    font-size: 28px;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
}

.product-image-description {
    font-size: 14px;
    font-family: "Roboto";
    color: white;
    font-weight: 500;
}

.product-image-button {
    background-color: white;
    height: 38px;
    width: 110px;
    border-width: 0px;
    border-radius: 20px;
    color: #ff9f00;
    font-family: "Roboto";
}

.all-link {
    color: #ff9f00;
    font-family: "Roboto";
    font-weight: bold;
}

.modal-title {
    font-size: 22px;
    color: #323f4b;
    font-family: "Roboto";
}

.product-description {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    color: #323f4b;
}

.product-heading {
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto";
}

.product-para {
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto";
}
