@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.service-title {
    font-size: 42px;
    font-weight: bold;
    color: #183b56;
    font-family: "Roboto";
}

.service-description {
    font-size: 22px;
    font-family: "Roboto";
    color: #616c7c;
}

.service-card-heading {
    font-size: 26px;
    font-family: "Roboto";
    color: #1f2933;
}

.service-card-para {
    font-size: 18px;
    font-family: "Roboto";
    color: #7b8794;
}
